nav{
    background: linear-gradient(to right, lightgray, gray) ;
    color: #FFF;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 28%;
            margin: 9;
            li {
            Cursor: pointer;
            font-size: 22px;
            color:#FFF;
            text-decoration: none;
            }
        }
    }
}
