<br>
<form [formGroup]="form">
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="name" id="inputName" placeholder="name">
      </div>
    </div>

    <br>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" formControlName="email" id="inputEmail3" placeholder="email">
        </div>
    </div>

    <br>

    <div class="form-group row">
        <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="username" id="inputUsername" placeholder="username">
        </div>
    </div>

    <br>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" formControlName="password" id="inputPassword3" placeholder="password">
      </div>
    </div>

    <br>

    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Group</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" formControlName="group" type="radio" name="group" id="gridRadios1" value="HR" checked>
            <label class="form-check-label" for="gridRadios1">
              HR
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName="group" type="radio" name="group" id="gridRadios2" value="Normal Employee">
            <label class="form-check-label" for="gridRadios2">
              Normal Employee
            </label>
          </div>

        </div>
      </div>
    </fieldset>

    <br>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="addEmployee()">Add</button>
      </div>
    </div>


  </form>