<div class="box">
    <div class="row" >
        <!-- <div class=" col -md -5 col-sm-12">
            <img src="ds" alt="sas">
        </div> -->
        <div class="col - mMd -7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li><strong> Id: </strong>{{employee.id}}</li>
                    <li><strong>Name : </strong> {{employee.name}}</li>
                    <li><strong> email: </strong>{{employee.email}}</li>
                    <li><strong>group: </strong>{{employee.group}}</li>
                </ul>
            </div>
        </div>
    </div>

     <button class="btn btn-success" routerLink="/Employees">Back to List</button> 
</div>
